.mod_teamspeak3 {
    overflow: auto;
}

.mod_teamspeak3 table {
}

.mod_teamspeak3 table td {
}

.mod_teamspeak3 table .prefix {
}

.mod_teamspeak3 table .corpus {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mod_teamspeak3 table .suffix {
    text-align: right;
}

.mod_teamspeak3.tip-wrap {
    max-width: none;
}

.mod_teamspeak3.tip-wrap .tip-title {
    white-space: nowrap;
}

.mod_teamspeak3.tip-wrap .avatar {
    max-width: 100%;
}