.mod_teamspeak3_viewer {
    overflow: auto;
}

.mod_teamspeak3_viewer table {
}

.mod_teamspeak3_viewer table td {
}

.mod_teamspeak3_viewer table .prefix {
}

.mod_teamspeak3_viewer table .corpus {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mod_teamspeak3_viewer table .suffix {
    text-align: right;
}